/* 
    Document   : styles
    Created on : Jul 14, 2013, 9:08:46 AM
    Author     : asimcraft
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.center{
    text-align: center;
}

.center2{
    margin-left:auto;
    margin-right:auto;
}
.title h1, .title h2, .title h3 {
    background: url("../images/title.png") repeat-x scroll 50% 50% transparent;
    color:#838383;
}
.title {
    margin-top: 40px;
    margin-bottom:40px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}
.title b {
    background: url("../images/bg.jpg") repeat scroll 0 0 transparent;
    display: inline-block;
    font-weight: 900;
    padding: 0 10px;
}
.item{
    width:250px;
}
.item .thumb {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #D5D5D5;
    overflow: hidden;
    text-align: center;
}
.item .thumb img {
    border-radius: 2px 2px 2px 2px;
}
.item .meta {
    margin: 0;
}
.item .meta li {
    display: inline-block;
    float: left;
    list-style-type: none;
    padding: 10px 0;
    text-align: center;
    width: 49.8%;
     background-color:#e0e0e0;
}
.item .meta li h3, .item .meta li h4 {
    line-height: 1;
    margin: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}
.item .meta li h4 {
    color: #A5A5A5;
    font-size: 12px;
    padding: 5px 0 0;
    text-transform: uppercase;
}
.item .meta .meta-designs {
    border-right: 1px solid #D5D5D5;
}
.info h2{
    background-color:#e6e6e6;
    margin: 0;
}
.info h3{
    margin: 0;
    background-color: #E0E0E0;
}
.nav{
    float:right !important;
    margin-right:100px !important;
    top:10px !important;
}

.brand{
    font-size:28px !important;
    font-weight: bold !important;
    color: #ffffff !important;
    padding: 20px 20px !important;
}
.applybtn{
    color:#ffffff;
    background-color:#000000;
    padding: 10px 50px 10px 50px;

   
}
.applybtn a{
    color:#ffffff;
  
    text-decoration: none;
    text-transform: uppercase;
}
.removebtn{
    color:#ffffff;
    background-color:#ed2025;
    padding: 10px 40px 10px 40px;

   
}
.removebtn a{
    color:#ffffff;
  
    text-decoration: none;
    text-transform: uppercase;
}
.mainbtn{
    color:#ffffff;
    background-color:#ed2025;
    padding: 15px 50px 15px 50px;
   
}
.mainbtn:hover{
    background-color:#000000;
}
.mainbtn a{
    color:#ffffff;
  
    text-decoration: none;
    text-transform: uppercase;
}
.category {

  margin-bottom: 20px;

  list-style: none;
  float:left;
}
.category li{
    float:left;
    margin-right:20px;
    margin-bottom: 20px;
}

.job{
    float:left;
    width:850px;
    background-color:#e4e4e4;
     list-style: none;
}
.job li{
    float:left;
    padding:20px 20px 20px 20px;
    
}
.job2{
    float:left;

    background-color:#e4e4e4;
     list-style: none;
}
.job2 li{
    float:left;
    padding:20px 20px 20px 20px;
    
}
.job-info{
    border-right: 1px solid #D5D5D5;
    padding:20px 240px 20px 20px !important;
}
.job-info2{
    border-right: 1px solid #D5D5D5;
    padding:20px 20px 20px 20px !important;
}
.job-views{
    background-color:#252525;
    color:#ffffff;
padding-bottom:40px !important;
padding-top:30px !important;
}

.userinfo{
    width:960px;
}
.usercontact{
    float:left;
    margin-right:30px;
}
.usericons{
    background-color: #262626;
    height:30px;
    padding:10px;
    color:#ffffff;

}
.usericons li{

}
.icons2{
     list-style: none;
     float:right;

}
.icons2 li{
float:right;
padding:3px;

}
.usericons h4{
   float:left;
   margin-left:10px;
}